/* utility classes for aligning text*/

.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}


.align-center {
float: left ;
}
.align-left {
float: left;
}
.align-right {
  float: right;
}
img {
  border: 1px solid black;
  margin: 5px 5px;
}
body{
  font-weight: 800;
}